<div class="container">
  <div class="mySlides">
    <img src="/images/stadiums/tropicana-field.jpg" style="width:100%" />
  </div>
  <div class="mySlides">
    <img src="/images/stadiums/oakland.jpg" style="width:100%" />
  </div>
  <div class="mySlides">
    <img src="/images/stadiums/angels.jpg" style="width:100%" />
  </div>
  <div class="mySlides">
    <img src="/images/stadiums/tigers.jpg" style="width:100%" />
  </div>
  <div class="mySlides">
    <img src="/images/stadiums/dbacks.jpg" style="width:100%" />
  </div>
  <div class="mySlides">
    <img src="/images/stadiums/toronto.jpg" style="width:100%" />
  </div>
  <div class="mySlides">
    <img src="/images/stadiums/brewers.jpg" style="width:100%" />
  </div>
  <div class="mySlides">
    <img src="/images/stadiums/indians-stadium.jpg" style="width:100%" />
  </div>
  <div class="mySlides">
    <img src="/images/stadiums/astros.jpg" style="width:100%" />
  </div>
  <div class="mySlides">
    <img src="/images/stadiums/marlins.jpg" style="width:100%" />
  </div>
  <div class="mySlides">
    <img src="/images/stadiums/nationals.jpg" style="width:100%" />
  </div>
  <div class="mySlides">
    <img src="/images/stadiums/royals.jpg" style="width:100%" />
  </div>
  <div class="mySlides">
    <img src="/images/stadiums/braves.jpg" style="width:100%" />
  </div>
  <div class="mySlides">
    <img src="/images/stadiums/yankee-stadium.jpg" style="width:100%" />
  </div>
  <div class="mySlides">
    <img src="/images/stadiums/dodger.jpg" style="width:100%" />
  </div>
  <div class="mySlides">
    <img src="/images/stadiums/phillies.jpg" style="width:100%" />
  </div>
  <div class="mySlides">
    <img src="/images/stadiums/texas.jpg" style="width:100%" />
  </div>
  <div class="mySlides">
    <img src="/images/stadiums/cardinals.jpg" style="width:100%" />
  </div>
  <div class="mySlides">
    <img src="/images/stadiums/mariners.jpg" style="width:100%" />
  </div>
  <div class="mySlides">
    <img src="/images/stadiums/twins.jpg" style="width:100%" />
  </div>
  <div class="mySlides">
    <img src="/images/stadiums/camden-yards.jpg" style="width:100%" />
  </div>
  <div class="mySlides">
    <img src="/images/stadiums/rockies.jpg" style="width:100%" />
  </div>
  <div class="mySlides">
    <img src="/images/stadiums/mets.jpg" style="width:100%" />
  </div>
  <div class="mySlides">
    <img src="/images/stadiums/cubs.jpg" style="width:100%" />
  </div>
  <div class="mySlides">
    <img src="/images/stadiums/padres.jpg" style="width:100%" />
  </div>
  <div class="mySlides">
    <img src="/images/stadiums/fenway.jpg" style="width:100%" />
  </div>
  <div class="mySlides">
    <img src="/images/stadiums/giants.jpg" style="width:100%" />
  </div>
  <div class="mySlides">
    <img src="/images/stadiums/pirates.jpg" style="width:100%" />
  </div>
  <div class="mySlides">
    <img src="/images/stadiums/reds.jpg" style="width:100%" />
  </div>
  <div class="mySlides">
    <img src="/images/stadiums/white-sox.jpg" style="width:100%" />
  </div>
  <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  <a class="next" onclick="plusSlides(1)">&#10095;</a>
</div>
<script src="./js/gallary.js"></script>
