
    <form class="form-signin ">
    
      <h1 class="h3 mb-3 mt-auto font-weight-normal">Please sign up</h1>
      <label for="name" class="sr-only">Username</label>
      <input type="name" id="inputName" class="form-control" placeholder="name" required="" autofocus="">
      <label for="inputEmail" class="sr-only">Email address</label>
      <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="btn btn-lg btn-warning btn-block" type="submit">Sign up</button>
      <p class="mt-5 mb-3 text-muted w-100 text-center">© 2023</p>
    </form>
  
  <script src="/js/signup.js"></script>
