
<div class="row mb-4 post">
  <div class="col">
    <h2>
      {{post.title}}
    </h2>
    <p>
      {{post.content}}
    </p>
  </div>
</div>

<h2>Add A Comment:</h2>
<form class="d-flex flex-column" id="new-comment-form">
    <label>Content</label>
    <textarea name="content"  id="content" rows="3" class="form-control"></textarea>
    <input type="hidden" id="post_id" value="{{post.id}}">
    <button>Submit</button>
</form>

<h3>All Comments</h3>

{{#each post.comments as |comment|}}
    <div>
        <h4>{{comment.content}}</h4>
    </div>
    <hr/>

{{/each}}

<script src="/js/comment.js"></script>