header,
.project:not(:last-child) {
  border-bottom: 1px solid #ccc;
}

body {
  background-image: url("../images/miami.jpg"); /* Replace with your image file name */
  background-size: cover; /* Adjust as needed */
  background-repeat: no-repeat;
  background-attachment: fixed; /* Keep the background fixed while scrolling */
}

.no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: #1b89bc;
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
  text-decoration: underline;
}

.logo {
  height: 400px;
  width: auto;
  display: flex;
  position: absolute;
  top: -135px;
  left: -250px;
  z-index: 2;
}
.form-signin {
  width: 100%;
  max-width: 300px;
  padding: 15px;
  margin: auto;
  margin-top: 100px;
  max-height: 500px;
}
.bg-color-light {
  margin-bottom: 70px;
}

.btn-primary.btn-lg.btn-block {
  /* Change the color property to your desired color */
  background-color: #3a308f; /* Button background color */
  border-color: #f7468a; /* Button border color */
  border-width: 3px;
  color: #34c2f0; /* Text color */
  font-weight: bold;
}

/* Target the "Sign in" button on hover */
.btn-primary.btn-lg.btn-block:hover {
  /* Change the color property to your desired color */
  background-color: #f7468a; /* Button background color on hover */
  border-color: #f7468a; /* Button border color on hover */
  border-width: 3px;
  color: #34c2f0; /* Text color on hover */
}
.btn-outline-light.me-2 {
  /* Change the color property to your desired color */
  color: #34c2f0; /* Text color */
  border-width: 3px;
  border-color: #34c2f0; /* Border color */
  font-weight: bold;
}

/* Target the Sign-up button */
.btn-outline-light.me-2:hover {
  /* Change the color property to your desired color */
  color: #ffffff; /* Text color on hover */
  border-color: #ffffff; /* Border color on hover */
  border-width: 3px;
}

/* Optional: To change the background color of the buttons */
.btn-outline-light.me-2 {
  background-color: #3a308f;
}

/* Optional: To change the background color of the buttons on hover */
.btn-outline-light.me-2:hover {
  background-color: transparent;
}

.form-signin {
  /* Change the color property to your desired color */
  color: #000000; /* Text color for the entire form */
  font-weight: bold;
}

/* Target specific elements within the form and override the color if needed */
.form-signin h1,
.form-signin label,
.form-signin input,
.form-signin button,
.form-signin p {
  color: inherit;
}

.form-signin {
  margin-top: 10px; /* Adjust this value to move the form up by changing the margin-top value */
}

/* Optionally, if you want to remove spacing between form elements */
.form-signin label,
.form-signin input,
.form-signin button,
.form-signin p {
  margin-bottom: 0;
}

.custom-btn-color {
  background-color: #f7468a;
  border-color: #f7468a; /* Optional: Change border color */
  color: #fff;
  font-weight: bold;
}

.custom-btn-color:hover {
  background-color: #d43f74; /* Darker color on hover */
  border-color: #d43f74; /* Optional: Darker border color on hover */
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.form-signin .text-muted {
  color: #3a308f;
  font-weight: bold;
}
.card-body {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -10px; /* Adjust margin as needed for spacing */
  padding-left: 120px;
  padding-right: 120px;
}

.card {
  display: flex; /* Use flexbox to center the content */
  flex-direction: column;
  justify-content: center; /* Center content vertically */
  align-items: center; /* Center content horizontally */
  flex-basis: calc(20% - 20px); /* Adjust width and margin as needed */
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: rgba(255, 255, 255, 0.4); /* 60% transparent white */
}

.player-info {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Style for individual player names */
.player-info h1 {
  font-size: 24px;
  margin: 5px;
  /* Add more styles as needed */
}

.teamconstructor {
  background-color: rgba(255, 255, 255, 0.4);
}

label {
  font-weight: bold;
  color: #000000;
}

option {
  font-weight: bold;
}
/* Style for the delete button */
.card-body .btn-danger {
  margin-top: 10px;
}
.card-title a {
  font-size: 25px;
  color: #000000;
}
/* #card{
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
} */
@media (max-width: 1030px) {
  .logo {
    height: 300px;
    width: auto;
    top: -100px;
    left: -100px;
  }
  .text-end {
    margin-right: -50px;
  }
  .form-signin {
    margin-top: 50px;
  }
  .card-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 990px) {
  .logo {
    height: 300px;
    width: auto;
    top: -100px;
    left: -100px;
  }
  .text-end {
    margin-right: -170px;
  }
  .form-signin {
    margin-top: 50px;
  }
  .card-container {
    padding-left: 30px;
    padding-right: 30px;
  }
}


@media (max-width: 768px) {
  .logo {
    height: 300px;
    width: auto;
    top: -100px;
    left: -100px;
  }
  .text-end {
    margin-right: -100px;
    margin-top: 50px;
  }
  .form-signin {
    margin-top: 50px;
  }
  .card-container {
    padding-left: 50px;
    padding-right: 30px;
  }
}

@media (max-width: 480px) {
  .logo {
    height: 200px;
    width: auto;
    top: -70px;
    left: -70px;
  }
  .text-end {
    margin-top: 30px;
    margin-right: -70px;
  }
  .form-signin {
    margin-top: 30px;
  }
  .card-container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .card {
    flex-basis: calc(50% - 20px);
  }
  .card-title a {
    font-size: 20px;
  }
  .player-info h1 {
    font-size: 20px;
  }
}
